.InfoBox {
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.InfoOverlay {
    height: auto;
    position: absolute;
    top: 5%;
}

.InfoView {
    width: 95%;
    height: 72.5%;
    position: absolute;
    justify-content: center;
    display: flex;
    text-align: center;
    overflow: scroll;
    flex-wrap: wrap;
    padding: 0px 5px;
    margin: 0;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);

    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* .InfoImg {
    width: auto;
    height: 210px;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;
} */

.InfoView h2 {
    width: 100%;
    font-size: 12px;
    color: #9c9c9c;
    text-align: center;
    font-family: var(--fn1);
}

.InfoView p {
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #c4c4c4;
    font-family: var(--fn3);
    padding-bottom: 7.5px;
}