.InfoBox {
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.Infoer {
    width: 100%;
    height: 93.5%;
    margin: 0;
    padding: 0;
    position: absolute;
    inset: 0;
    overflow: scroll;
}

.InfoOverlay {
    width: 100%;
    height: auto;
    position: absolute;
    top: 5%;
}

.InfoView {
    width: 95%;
    height: 72.5%;
    position: absolute;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 50px;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.InfoBio {
    width: 100%;
    height: auto;
}

.InfoView h2 {
    width: 100%;
    font-size: 12px;
    letter-spacing: 5px;
    color: #9c9c9c;
    text-align: center;
    font-family: var(--fn3);
}

.InfoView p {
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #c4c4c4;
    font-family: var(--fn3);
    padding-bottom: 7.5px;
}


/* Awards */

.InfoAwards {
    width: 100%;
    height: auto;
}

.BoxAwards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
    gap: 10px;
}

.AwImg {
    width: 35px;
    height: 35px;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;
}

.BoxAwards h2 {
    width: 100%;
    font-size: 12px;
    letter-spacing: 2px;
    color: #9c9c9c;
    text-align: center;
    font-family: var(--fn3);
}