.InfoBox {
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.Infoer {
    width: 100%;
    height: 93.5%;
    position: absolute;
    padding: 0;
    margin: 0;
    inset: 0;
    overflow: scroll;
}

.InfoOverlay {
    width: 100%;
    height: auto;
    position: absolute;
    top: 5%;
}

.InfoView {
    width: 95%;
    height: 72.5%;
    position: absolute;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 50px;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.InfoBio {
    width: 100%;
    height: auto;
}

.InfoView h2 {
    width: 100%;
    font-size: 12px;
    letter-spacing: 5px;
    color: #9c9c9c;
    text-align: center;
    font-family: var(--fn3);
}

.InfoView p {
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #e4e4e4;
    font-family: var(--fn3);
    padding-bottom: 7.5px;
}

.InfoView a {
    font-weight: bold;
    color: #b3b3b3;
}


/* Awards */

.InfoAwards {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.BoxAwards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
    grid-column: 3;
    gap: 5px;
    row-gap: 50px;
}

.AwImg {
    width: 25px;
    height: 25px;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;
}

.BoxAwards h2 {
    width: 100%;
    font-size: 10px;
    color: #b3b3b3;
    text-align: center;
    font-family: var(--fn3);
}


/* Contact */

.InfoContact {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.BoxContact {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
    grid-column: 3;
    gap: 5px;
    row-gap: 50px;
}

.CoImg {
    width: 25px;
    height: 25px;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;
    filter: invert(1) brightness(2);
}


.animate-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.animate-on-scroll.in-view {
    opacity: 1;
    transform: translateY(0);
}

/* أنواع الاتجاهات */
[data-anim="left"] {
    transform: translateX(-60px);
}

[data-anim="right"] {
    transform: translateX(60px);
}

[data-anim="up"] {
    transform: translateY(50px);
}

[data-anim="left"].in-view,
[data-anim="right"].in-view,
[data-anim="up"].in-view {
    transform: translate(0, 0);
}