.InfoBox {
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.Infoer {
    width: 100dvw;
    height: 94.2%;
    position: absolute;
    padding: 0;
    margin: 0;
    inset: 0;
    overflow: scroll;
}

.InfoOverlay {
    width: 100%;
    height: auto;
    position: absolute;
    top: 5%;
}

.InfoView {
    width: 95%;
    height: 72.5%;
    position: absolute;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 50px;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.InfoBio {
    width: 100%;
    height: auto;
}

.InfoView h2 {
    width: 100%;
    font-size: 12px;
    letter-spacing: 5px;
    color: #9c9c9c;
    text-align: center;
    font-family: var(--fn3);
}

.InfoView p {
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #e4e4e4;
    font-family: var(--fn3);
    padding-bottom: 7.5px;
}

.InfoView a {
    font-weight: bold;
    color: #b3b3b3;
}


/* Awards */

.InfoAwards {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.BoxAwards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    row-gap: 50px;
    width: 100%;
    margin-top: 25px;
}

.BoxAwards>div {
    flex: 1 1 calc((100% - 40px) / 3);
    max-width: calc((100% - 40px) / 3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AwImg {
    width: auto;
    height: 25px;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;
}

.BoxAwards h3 {
    width: 100%;
    font-size: 10px;
    color: #b3b3b3;
    text-align: center;
    font-family: var(--fn3);
}


/* Certificates */

.InfoCert {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.BoxCert {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    row-gap: 50px;
    width: 100%;
    margin-top: 25px;
}

.BoxCert>div {
    flex: 1 1 calc((100% - 40px) / 2);
    max-width: calc((100% - 40px) / 2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CertImg {
    width: auto;
    height: 25px;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;
    filter: invert(1) brightness(2);
}

.BoxCert h3 {
    width: 100%;
    font-size: 10px;
    color: #b3b3b3;
    text-align: center;
    font-family: var(--fn3);
}


/* Contact */

.InfoContact {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 50px;
}

.BoxContact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    row-gap: 50px;
    width: 100%;
    margin-top: 25px;
}

.BoxContact>div {
    flex: 1 1 calc((100% - 40px) / 3);
    max-width: calc((100% - 40px) / 3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CoImg {
    width: 25px;
    height: 25px;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;
    filter: invert(1) brightness(2);
}


.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.animate-on-scroll.in-view {
    opacity: 1;
    transform: translateY(0);
}

/* أنواع الاتجاهات */
[data-anim="left"] {
    transform: translateX(-40px);
}

[data-anim="right"] {
    transform: translateX(40px);
}

[data-anim="up"] {
    transform: translateY(30px);
}

[data-anim="left"].in-view,
[data-anim="right"].in-view,
[data-anim="up"].in-view {
    transform: translate(0, 0);
}